{%extends 'main/main_home_teachers.html'%} {%block content%}

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <p class="card-title">Marks Information : {{subject_name}} ({{course_id}}) <br> Department Name : {{student_dept}}</b></p>
                        <a href="http://127.0.0.1:8000/pdf2/{{course_id}}/{{student_dept}}" class="text-info">Download Marksheet</a>
                    </div>




                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Sl.</th>
                                <th>Registration No.</th>
                                <th>Student's Name</th>
                                <th>Theory Marks</th>
                                <th>Term Test</th>
                                <th>Attendance</th>
                                <th>Grade Point</th>
                                <th>Letter Grade</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in data %}
                            <tr>
                                <td>{{ c.id }}</td>
                                <td>{{ c.regi }}</td>
                                <td>{{ c.name }}</td>
                                <td>{{ c.theory_marks }}</td>
                                <td>{{ c.term_test }}</td>
                                <td>{{ c.attend }}</td>
                                <td>{{ c.cg }}</td>
                                <td>{{ c.cgname}}</td>

                            </tr>
                            {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}