{%extends 'main/main_home_teachers.html'%} {%block content%}

    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Choose From Your Conducted Courses</h4>
            <form action="" method="POST" class="forms-sample">
              {% csrf_token %}
              <select name="course_code"  class="form-control form-control-lg" id="cars">
                {%for c in data%}
                <option value="{{c.course_code}},{{c.student_dept}}" {% if c in selected_values %} selected {% endif %}>{{c.course_code}} for {{c.student_dept}} Department</option>
                {% endfor %}
              </select>
              <button type="submit" class="btn btn-primary mr-2">Search</button>
              <a href="{% url 'home' %}" class="btn btn-light" role="button">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock%}