{%extends 'main/main_home.html'%}
{%block content%}
<!-- partial -->

<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="row">
      <div class="col-12 col-xl-8 mb-4 mb-xl-0">
        <!-- here name-->
        <h3 class="font-weight-bold">Welcome, {{name}}(admin)</h3>

      </div>
      <div class="col-12 col-xl-4">
        <div class="justify-content-end d-flex">
          <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
            <div aria-haspopup="true" aria-expanded="true">
              Today, {% now "jS F Y (g:i a)" %}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 grid-margin transparent">
    <div class="row">
      <div class="col-md-6 mb-4 stretch-card transparent">
        <div class="card card-tale">
          <div class="card-body">
            <p class="mb-4">Total Students</p>
            <p class="fs-30 mb-2">{{stu}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4 stretch-card transparent">
        <div class="card card-dark-blue">
          <div class="card-body">
            <p class="mb-4">Total Teachers</p>
            <p class="fs-30 mb-2">{{teacher}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
        <div class="card card-light-blue">
          <div class="card-body">
            <p class="mb-4">Overall Teaching Rate (Max 5)</p>
            <p class="fs-30 mb-2">{{overall_rate}}</p>

          </div>
        </div>
      </div>
      <div class="col-md-6 stretch-card transparent">
        <div class="card card-light-danger">
          <div class="card-body">
            <p class="mb-4">Total Subjects</p>
            <p class="fs-30 mb-2">{{sub_cnt}}</p>
          </div>
        </div>
      </div>
    </div>

  




  </div>
  <div class="col-md-6 grid-margin transparent">
    <div class="row">
      <div class="col-md-6 mb-4 stretch-card transparent">
        <div class="card card-tale">
          <div class="card-body">
            <p class="mb-4">Total Admin</p>
            <p class="fs-30 mb-2">{{admin_cnt}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4 stretch-card transparent">
        <div class="card card-dark-blue">
          <div class="card-body">
            <p class="mb-4">Total Department</p>
            <p class="fs-30 mb-2">{{dept}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
        <div class="card card-light-blue">
          <div class="card-body">
            <p class="mb-4">Highest Performing Department</p>
            <p class="fs-30 mb-2">{{hi_dept}} with {{hi_mark}} score</p>

          </div>
        </div>
      </div>
      <div class="col-md-6 stretch-card transparent">
        <div class="card card-light-danger">
          <div class="card-body">
            <p class="mb-4">Lowest Performing Department</p>
            <p class="fs-30 mb-2">{{low_dept}} with {{low_mark}} score</p>
          </div>
        </div>
      </div>
    </div>

  




  </div>
</div>



<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <p class="card-title">Teaching Ratings Rakings of University Teachers</p>
        </div>
        <p class="font-weight-500">
          Here is the teaching ratings given by the Students that have taken the respective Teacher's courses
        </p>
        <div id="sales-legend" class="chartjs-legend mt-4 mb-2"></div>
        <canvas id="barChartH2" data-url="{% url 'get_ratings_admin' %}"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <p class="card-title">Department Performance Ranking</p>
        </div>
        <p class="font-weight-500">
          Performance Rankings Of Departments of the University
        </p>
        <div id="sales-legend" class="chartjs-legend mt-4 mb-2"></div>
        <canvas id="barChartH3" data-url="{% url 'dept_performance' %}"></canvas>
      </div>
    </div>
  </div>


</div>




</div>


<!-- content-wrapper ends -->
<!-- partial:partials/_footer.html -->
<!-- partial -->
</div>
</div>
<!-- main-panel ends -->
<!-- container-scroller -->
{%endblock%}